@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ff5555;
  --secondary: rgba(255, 85, 85, 0.15);
  --success: #909090;
  --error: #ff5555;
}

body{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f5f5f5 calc(100% - 1px)),
                    linear-gradient(90deg, transparent calc(100% - 1px), #f5f5f5 calc(100% - 1px));
  background-size: 36px 36px;
  background-repeat: repeat;
  background-position: center center;
}