@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ff5555;
  --secondary: rgba(255, 85, 85, 0.15);
  --success: #909090;
  --error: #ff5555;
}
